.cars
    &__table
        border-collapse: collapse
        border-radius: 5px
        overflow: hidden
        width: 100%

        & th
            text-align: left
            background-color: #dadada
            padding: 5px 10px
            font-size: 0.9em

        & td
            padding: 5px 10px

    &__img img
        max-height: 70px
        border-radius: 5px
