* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Open Sans",
    sans-serif;
}

button {
  outline: none;
  border: none;
}

a {
  color: unset;
  text-decoration: unset;
}

#root {
  display: flex;
}

.content {
  flex-grow: 1;
  overflow: hidden;
}

.content_body {
  padding: 10px;
  background-color: #f5f7fa;
  min-height: calc(100vh - 48px);
}
